    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        background-color: rgb(222, 226, 168);
        animation: chbg 15s infinite alternate;
        overflow: hidden;
    }
    
    .leaf {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    
    .leaf div {
        position: absolute;
        display: block;
    }
    
    .leaf div:nth-child(1) {
        left: 20%;
        animation: fall 15s linear infinite;
        animation-delay: -2s;
    }
    
    .leaf div:nth-child(2) {
        left: 70%;
        animation: fall 15s linear infinite;
        animation-delay: -4s;
    }
    
    .leaf div:nth-child(3) {
        left: 10%;
        animation: fall 20s linear infinite;
        animation-delay: -7s;
    }
    
    .leaf div:nth-child(4) {
        left: 50%;
        animation: fall 18s linear infinite;
        animation-delay: -5s;
    }
    
    .leaf div:nth-child(5) {
        left: 85%;
        animation: fall 14s linear infinite;
        animation-delay: -5s;
    }
    
    .leaf div:nth-child(6) {
        left: 15%;
        animation: fall 16s linear infinite;
        animation-delay: -10s;
    }
    
    .leaf div:nth-child(7) {
        left: 90%;
        animation: fall 15s linear infinite;
        animation-delay: -4s;
    }
    
    @keyframes fall {
        0% {
            opacity: 1;
            top: -10%;
            transform: translateX (20px) rotate(0deg);
        }
        20% {
            opacity: 0.8;
            transform: translateX (-20px) rotate(45deg);
        }
        40% {
            transform: translateX (-20px) rotate(90deg);
        }
        60% {
            transform: translateX (-20px) rotate(135deg);
        }
        80% {
            transform: translateX (-20px) rotate(180deg);
        }
        100% {
            top: 110%;
            transform: translateX (-20px) rotate(225deg);
        }
    }
    
    .leaf1 {
        transform: rotateX(180deg);
    }
    
    h2 {
        position: absolute;
        top: 40%;
        width: 100%;
        font-family: 'Courgette', cursive;
        font-size: 4em;
        text-align: center;
        transform: translate;
        color: #fff;
        transform: translateY (-50%);
    }
    
    a {
        text-decoration: none;
    }
    
    #header {
        border: 0px;
        margin: 10px;
        padding: 25px;
        background-color: rgb(223, 223, 105);
    }
    
    #header .logo {
        font-size: 48px;
        font-weight: 100px;
        font-family: Arial, Helvetica, sans-serif;
        color: blue;
    }
    
    #header ul {
        z-index: 100;
        list-style: none;
        position: absolute;
        right: 50px;
        top: 20px;
    }
    
    #header .search-container {
        z-index: 100;
        position: absolute;
        right: 700px;
        top: 30px;
    }
    
    #header ul li {
        display: inline;
        padding: 15px 25px;
        font-size: 24px;
        text-align: center;
        cursor: pointer;
        outline: none;
        background-color: #04AA6D;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
    }
    
    #header ul li:hover {
        background-color: #3e8e41;
    }
    
    #header ul li:active {
        background-color: #94e095;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
    
    .search-container {
        background: #fff;
        height: 50px;
        border-radius: 30px;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.8s;
        /*box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    inset -7px -7px 10px 0px rgba(0,0,0,.1),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
   text-shadow:  0px 0px 6px rgba(255,255,255,.3),
              -4px -4px 6px rgba(116, 125, 136, .2);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);*/
        box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3), -4px -4px 6px 0 rgba(116, 125, 136, .2), inset -4px -4px 6px 0 rgba(255, 255, 255, .2), inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
    }
    
    .search-container:hover>.search-input {
        width: 300px;
    }
    
    .search-container .search-input {
        background: transparent;
        border: none;
        outline: none;
        width: 0px;
        font-weight: 500;
        font-size: 16px;
        transition: 0.8s;
    }
    
    .search-container .search-btn .fas {
        color: #5cbdbb;
    }
    
    @keyframes hoverShake {
        0% {
            transform: skew(0deg, 0deg);
        }
        25% {
            transform: skew(10deg, 10deg);
        }
        75% {
            transform: skew(-10deg, -10deg);
        }
        100% {
            transform: skew(0deg, 0deg);
        }
    }
    
    .search-container:hover {
        animation: hoverShake 0.15s linear 3;
    }
    
    .graph {
        background-color: #afd1d1;
    }
    
    .page_container ul {
        z-index: 100;
        position: absolute;
        padding: 10px 10px;
        list-style: none;
        margin: 10px;
        background-color: rgb(223, 223, 105);
    }
    
    .page_container ul li {
        z-index: 100;
        margin-bottom: 20px;
        padding: 15px 25px;
        font-size: 24px;
        text-align: center;
        cursor: pointer;
        outline: none;
        background-color: #04AA6D;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
    }
    
    .page_container ul li:hover {
        background-color: #25d628;
    }
    
    .page_container ul li:active {
        background-color: #94e095;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
    
    .page_container div img {
        height: 170px;
        width: 170px;
        border-radius: 100%;
        padding: 0px;
        margin-left: 30px;
    }
    
    .page_container .s1 {
        position: absolute;
        padding: 640px 10px 0px 0px;
    }
    
    .page_container .s2 {
        position: absolute;
        padding: 450px 10px 0px 0px;
    }
    
    canvas {
        width: 1200px;
        height: 700px;
        position: absolute;
        left: 100px;
        right: 100px;
        top: 100px;
        padding: 0px;
        background-color: #6c9998;
    }