@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #121212;
}

main{
    min-height: 100vh;
    max-height: auto;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

/* ---------nav bar---------------- */

nav{
    grid-column: 1/13;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
    padding: 8px;
    align-items: center;
    background: #181818;
    position: sticky;
    top: 0;
    z-index: 5;
}

nav a.notification,
nav a.logout,
nav a.add-item,
nav a.home{
    margin: 5px 10px;
    padding: 5px 10px;
    background: transparent;
    text-decoration: none;
    color: #aaa;
    border: 2px solid #aaa;
    border-radius: 40px;
    transition: 0.4s;
    position: relative;
}
nav a.notification:hover,
nav a.logout:hover,
nav a.add-item:hover,
nav a.home:hover{
    transform: scale(1.05);
    opacity: 0.8;
}
nav a.notification:active,
nav a.logout:active,
nav a.add-item:active,
nav a.home:active{
    transform: scale(1);
    opacity: 1;
}

.logo{
    font-size: 2.5em;
    text-decoration: none;
    color: #aaa;
    font-weight: 700;
    margin-right: auto;
}

.badge{
    display: none;
}
.badge.badge-danger{
    display: grid;
    position: absolute;
    top: 0;
    right: 0;
    background: crimson;
    color: #555;
    transform: translate(50%, -50%);
    border: none;
    outline: none;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
    align-items: center;
    font-weight: 600;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

/* notification indicator animation */

@-webkit-keyframes glowing {
    0% {
        background-color: #f82249;
        -webkit-box-shadow: 0 0 3px rgb(235, 56, 90);
    }
    50% {
        background-color: rgb(235, 56, 90);
        -webkit-box-shadow: 0 0 40px rgb(235, 56, 90);
    }
    100% {
        background-color: #f82249;
        -webkit-box-shadow: 0 0 3px #f82249;
    }
}

@-moz-keyframes glowing {
    0% {
        background-color: #f82249;
        -moz-box-shadow: 0 0 3px #f82249;
    }
    50% {
        background-color: rgb(235, 56, 90);
        -moz-box-shadow: 0 0 40px rgb(235, 56, 90);
    }
    100% {
        background-color: #f82249;
        -moz-box-shadow: 0 0 3px #B20000;
    }
}

@-o-keyframes glowing {
    0% {
        background-color: #f82249;
        box-shadow: 0 0 3px #f82249;
    }
    50% {
        background-color: rgb(235, 56, 90);
        box-shadow: 0 0 40px rgb(235, 56, 90);
    }
    100% {
        background-color: #f82249;
        box-shadow: 0 0 3px #f82249;
    }
}

@keyframes glowing {
    0% {
        background-color: #f82249;
        box-shadow: 0 0 3px #f82249;
    }
    50% {
        background-color: rgb(235, 56, 90);
        box-shadow: 0 0 40px rgb(235, 56, 90);
    }
    100% {
        background-color: #f82249;
        box-shadow: 0 0 3px #f82249;
    }
}

/* ------------------------------------------------ */

/* ------------profile card------------------------ */

aside{
    grid-column: 1/5;
    grid-row: 2/8;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background: #8899a6;
    border-radius: 20px 3px 20px 3px;
    padding: 15px;
    margin-left: 15px;
    position: relative;
    overflow: hidden;
}

aside *{
    z-index: 1;
    color: #e4e6eb;
}

aside::before{
    content: '';
    height: 35vw;
    width: 35vw;
    background: #22303C;
    background-image: url('../img/doodle_background.jpg');
    position: absolute;
    transform: translate(40%, 25%) rotateZ(45deg);
    border-radius: 20px;
}


aside img{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    outline: none;
    border: 10px solid #8899a6;
    position: relative;
    align-self: center;
    justify-self: center;
}

::-webkit-scrollbar{
    display: none;
}

/* ------------------------------------- */

aside .header{
    position: relative;
    min-height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
}

aside .title{
    position: relative;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, minmax(50px, auto));
}

aside .store{
    font-size: 2em;
    margin: 0;
}
aside .rating{
    position: relative;
    margin: 0;
}

aside .fa-star.checked{
    color: #dfcc21;
}

aside .details{
    position: relative;
    display: flex;
    flex-direction: column;
}

aside i{
    color: #242526;
}

aside .details div{
    padding: 15px;
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
}

aside .edit{
    margin: 5px 10px;
    padding: 5px 20px;
    background: transparent;
    text-decoration: none;
    color: #242526;
    border: 2px solid #242526;
    border-radius: 40px;
    position: relative;
    transition: 0.4s;
    font-weight: 500;
    font-size: 1.1em;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
}

aside .edit:hover{
    transform: scale(1.05);
    opacity: 0.7;
}
aside .edit:active{
    transform: scale(1);
}

/* ------------------------------------------------- */

/* ----------------search-bar----------------------- */

.search-box{
    position: relative;
    background: #999;
    height: 2.1em;
    width: fit-content;
    border-radius: 2.1em;
    padding: 0.3em;
    margin-right: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.search-box a{
    text-decoration: none;
}

.search-btn{
    color: #666;
    width: 2.1em;
    height: 2.1em;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #fff;
    font-size: 1em;
    transition: 0.4s;
    width: 18em;
}

.search-txt::placeholder{
    color: #22303C;
}

.search-box:hover > .search-btn{
    background: #fff;
    color: #000;
}

/* ------------------------------------------------- */


/* -------------product section--------------------- */

.year-div{
    align-self: flex-start;
    margin-left: 40px;
}

.year-label{
    color: #ccc;
    margin-right: 20px;
}

#year{
    border: none;
    outline: none;
    border-radius: 20px 3px 20px 3px;
    height: 40px;
    width: 80px;
    padding: 5px 10px;
    background: #8899a6;
    font-size: 1.1rem;
    font-weight: 600;
}

.item-container{
    grid-column: 5/13;
    grid-row: 2/8;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.store-stats{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, minmax(1fr, auto));
    padding: 10px;
    height: 100%;
    width: 100%;
}

.details-col{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.store-stats .sales,
.store-stats .earnings{
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    border-radius: 20px 3px 20px 3px;
    margin: 10px;
    position: relative;
    background-color: #4c4177;
    background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
}

.store-stats .earnings{
    grid-column: 2/3;
}

.no-sales,
.no-earnings{
    font-size: 2em;
    font-weight: 600;
    position: relative;
}
.store-stats span{
    color: #bbb;
}
.store-stats i{
    font-size: 3.5em;
    color: #bbb;
}

.store-stats .graphbox{
    grid-column: 1/3;
    grid-row: 2/3;
    background-color: #4c4177;
    background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
    border-radius: 20px 3px 20px 3px;
    padding: 10px;
    margin: 10px;
}

/* ---------------------product wrapper--------------------- */

.product-section{
    grid-column: 1/13;
    grid-row: 8/12;
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

.product-wrapper{
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
    padding: 20px 0;
}

.product-container{
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.scroll{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    align-self: center;
    justify-self: center;
    border: 2px solid #121212;
    outline: none;
}

/* ------------------card------------------ */

.wrapper{
    width: 290px;
    height: 440px;
    /* perspective: 800px; */
    position: relative;
    flex: 0 0 auto;
    align-self: center;
    margin: 0 20px;
}

.card{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-140px);
    transition: transform 250ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    cursor: pointer;
}

.card .front,
.card .back{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 350ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    color: #e4e6eb;
}

.front{
    background-color: #0d324d;
    border-radius: 20px 3px 20px 3px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 10% 1fr;
    position: relative;
    text-align: center;
}

.back{ 
    background: #22303c;
    opacity: 0;
    transform: rotateY(90deg);
    border-radius: 3px 20px 3px 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 10% 10%;
    align-items: center;
    justify-items: center;
}

.card:hover{
    transform: rotateY(-90deg);
}

.card:hover > .front{
    opacity: 0; 
}

.card:hover > .back{
    opacity: 1; 
}

.product-wrapper h1,
.product-wrapper h2{
    margin: 0;
    font-size: 38px;
    font-weight: 700;
}

.product-wrapper h2{
    font-size: 21px;
    font-weight: 400;
}

.product-wrapper p{
    margin: 0;
    font-weight: 300;
    font-size: 16px;
}

.product-wrapper i.fa-edit,
.product-wrapper i.fa-trash{
    position: absolute;
    bottom: 20px;
    right: 20px;
    transition: .4s;
    color: crimson;
    font-size: 1.2em;
}
.product-wrapper i.fa-edit{
    right: 50px;
}

.product-wrapper i:hover{
    transform: scale(1.1);
}
.product-wrapper i:active{
    transform: scale(1);
}

.product-wrapper img{
    pointer-events: none;
    height: auto;
    width: 80%;
    align-self: center;
    justify-self: center;
}

/*star ratings start*/
span.stars,
span.stars span {
    display: block;
    background: url(../img/white-star.svg) 0 0 repeat-x;
    width: 100px;
    /* width of a star multiplied by 5 */
    height: 20px;
    /* the height of the star */
    background-size: 20px 20px;
}

span.stars span {
    background-position: 0 0;
    background-image: url(../img/yellow-star.svg);
}
/*star ratings end*/

