body {
    background-size: cover;
    overflow-x: hidden;
    background-attachment: fixed;
    padding-top: 0px;
    -webkit-animation: colorchange 20s infinite;
    animation: colorchange 40s infinite;
    background-color: rgb(2, 2, 71);
}


/* @keyframes colorchange {
    0% {
        background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgb(53, 53, 170) 55%, rgba(0, 212, 255, 1) 100%);
    }
    35% {
        background: linear-gradient(180deg, rgba(9, 9, 121, 1) 0%, rgba(2, 0, 36, 1) 35%, rgb(53, 53, 170) 55%, rgba(0, 212, 255, 1) 100%);
    }
    60% {
        background: linear-gradient(180deg, rgb(53, 53, 170) 0%, rgba(9, 9, 121, 1) 35%, rgba(2, 0, 36, 1) 55%, rgba(0, 212, 255, 1) 100%);
    }
    100% {
        background: linear-gradient(180deg, rgba(0, 212, 255, 1) 0%, rgb(53, 53, 170) 35%, rgba(9, 9, 121, 1) 55%, rgba(2, 0, 36, 1) 100%);
    }
} */


/*disappear scroll bars*/

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    /* IE and Edge */
}

.clearfix {
    content: "";
    display: table;
    clear: both;
    padding: 0px;
}

#site-header,
#site-footer {
    background: rgb(0, 0, 0);
    width: 100%;
    opacity: 1;
}

#site-header {
    padding: 40px;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
}

#site-header h1 {
    position: fixed;
    font-size: 46px;
    font-weight: 3000;
    color: #eaee09;
    padding: 0px 0px 100px 100px;
    align-items: center;
    position: absolute;
    text-align: left;
    margin: 0px 2px 3px;
    left: 0;
    text-shadow: 1px 1px 20px #eaee09;
}

#site-header ul {
    position: fixed;
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 1px;
    padding: 1px 0px 2px 0px;
    left: 1000px;
    top: 55px;
}

#site-header ul li {
    position: relative;
    list-style: none;
    margin-left: 30px;
}

.badge {
    padding-left: 22px;
    padding-right: 12px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 10px;
}

#cart-item {
    font-size: 22px;
    font-weight: 600;
    background: #ff0000;
    color: #fff;
    padding: 2px 7px 5px 7px;
    vertical-align: top;
}

#site-header ul li a {
    position: relative;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
    padding: 10px 19px;
    color: rgb(0, 0, 0);
    border-radius: 40px;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

#site-header ul li a:hover,
#site-header ul li a.active {
    background-image: linear-gradient(120deg, #304739 0%, #0e5579 100%);
    color: white;
    transition: 0.6s;
}

#site-header.sticky {
    padding: 5px 50px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.7122199221485469) 100%, rgba(3, 0, 255, 0.7906512946975666) 100%, rgba(12, 25, 247, 0.09877454399728647) 100%);
    transition: 0.6s;
}

#site-header.sticky .logo,
#site-header.sticky ul li a {
    color: white;
}

#site-header.sticky ul li a.active,
#site-header.sticky ul li a:hover {
    color: black;
    background: #7FFF00;
}

a {
    color: rgb(97, 21, 240);
    font-size: 20px;
    text-decoration: none;
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -ms-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear;
    position: relative;
}

a:hover {
    color: #53b5aa;
}

#site-header h1 span {
    color: #53b5aa;
}

#site-header h1 span.last-span {
    background: #fff;
    padding-right: 150px;
    position: absolute;
    left: 217px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

#site-header h1:hover span.last-span,
#site-header h1 span.is-open {
    left: 363px;
}

#site-header h1 em {
    font-size: 16px;
    font-style: normal;
    vertical-align: middle;
}


/* search box */

.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #101010;
    height: 40px;
    border-radius: 40px;
}

#header.sticky .search-box:hover>.search-txt {
    width: 20px;
    padding: 0 7px;
    color: black;
}

#header.sticky .search-box:hover>.search-btn {
    background: #7FFF00;
    color: white;
}

#header.sticky .search-box:hover {
    background: white;
}

.search-box:hover>.search-txt {
    width: 200px;
    padding: 0 7px;
    color: white;
}

.search-box:hover>.search-btn {
    background: red;
    color: white;
}

.search-btn {
    color: white;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    font-size: 20px;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    color: white;
    padding: 0;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}


/* item container */

.container {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    width: 980px;
}

#hidden {
    width: 150px;
    padding: 60px;
    margin: 20px;
}

#cart {
    width: 100%;
}

#cart ul li {
    list-style: none;
}

#cart h1 {
    font-weight: 300;
}

#cart a {
    color: #53b5aa;
    text-decoration: none;
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -ms-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear;
}

#cart a:hover {
    color: #000;
}

.product.removed {
    margin-left: 980px !important;
    opacity: 0;
    background-color: black;
}

.product {
    border: 1px solid rgb(12, 12, 12);
    /* transform: skewX(-7deg); */
    margin: 20px 0;
    width: 100%;
    height: 195px;
    position: relative;
    -webkit-transition: margin .2s linear, opacity .2s linear;
    -moz-transition: margin .2s linear, opacity .2s linear;
    -ms-transition: margin .2s linear, opacity .2s linear;
    -o-transition: margin .2s linear, opacity .2s linear;
    transition: margin .2s linear, opacity .2s linear;
}

.block {
    position: relative;
    background: linear-gradient(0deg, #000, #272727);
}

.block:before,
.block:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #00ff00, #ffff00, #ff0000);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 2s linear infinite;
}

.product img {
    width: 100%;
    height: 100%;
}

.product header,
.product .content {
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-style: none none solid none;
    float: left;
    color: white;
}

.product header {
    background: #000;
    margin: 0 1% 20px 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 24%;
    height: 195px;
}

.product header:hover img {
    opacity: .7;
}

.product header:hover h3 {
    bottom: 73px;
}

.product header h3 {
    background: #000000;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    line-height: 49px;
    margin: 0;
    padding: 0 30px;
    position: absolute;
    bottom: -50px;
    right: 0;
    left: 0;
    -webkit-transition: bottom .2s linear;
    -moz-transition: bottom .2s linear;
    -ms-transition: bottom .2s linear;
    -o-transition: bottom .2s linear;
    transition: bottom .2s linear;
}

.remove {
    cursor: pointer;
    background-color: black;
}

.pimg {
    border-radius: 20px;
    background-color: black;
}

.product .content {
    border-radius: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 140px;
    padding: 0 20px;
    width: 75%;
}

.product h1 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 300;
    margin: 17px 0 20px 0;
}

.product footer.content {
    background-color: black;
    height: 50px;
    margin: 6px 0 0 0;
    padding: 0;
}

.product footer .price {
    background: #000000;
    color: rgb(255, 255, 255);
    float: right;
    font-size: 15px;
    font-weight: 300;
    line-height: 49px;
    margin: 0;
    padding: 0 30px;
}

.product footer .full-price {
    background: #000000;
    color: #fff;
    float: right;
    font-size: 22px;
    font-weight: 300;
    line-height: 49px;
    margin: 0;
    padding: 0 30px;
    -webkit-transition: margin .15s linear;
    -moz-transition: margin .15s linear;
    -ms-transition: margin .15s linear;
    -o-transition: margin .15s linear;
    transition: margin .15s linear;
}

.qt,
.qt-plus,
.qt-minus {
    background-color: rgb(0, 0, 0);
    display: block;
    float: left;
}

.qt {
    font-size: 19px;
    line-height: 50px;
    width: 70px;
    text-align: center;
}


/*change quatity button*/

.qt-plus,
.qt-minus {
    display: flex;
    cursor: pointer;
    color: #6e6e6e !important;
    background: #302f2f;
    border: none;
    font-size: 30px;
    font-weight: 300;
    height: 100%;
    padding: 0 20px;
    -webkit-transition: background .2s linear;
    -moz-transition: background .2s linear;
    -ms-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear;
}

.qt-minus:hover {
    color: #ffffff !important;
}

.qt-plus:hover {
    color: #ffffff !important;
}

.qt-minus:active {
    box-shadow: 0px 3px 4px #aaa inset, 0px 2px 3px #fff;
}

.qt-plus:active {
    box-shadow: 0px 3px 4px #aaa inset, 0px 2px 3px #fff;
}

.draw-border {
    background: linear-gradient(0deg, #000, #272727);
}

.qt-plus {
    line-height: 50px;
}

.qt-minus {
    line-height: 47px;
}

#site-footer {
    position: fixed;
    z-index: 10;
}

#site-footer {
    background-color: black;
    margin: 0px;
    padding: 11px;
    width: 98%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}


/* subtotal and shipping button */

.subtotal {
    color: white;
}

.shipping {
    color: white;
    position: fixed;
}


/* footer */

#site-footer h1 {
    background: #242323;
    color: rgb(255, 255, 255);
    border-color: #242323;
    border-style: none none solid none;
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 7px 0;
    padding: 14px 40px;
    text-align: center;
}

#site-footer h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 10px 0 0 0;
}

#site-footer h3 {
    font-size: 19px;
    font-weight: 300;
    margin: 15px 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.btn {
    background-image: black;
    border: 1px solid rgb(29, 27, 27);
    border-style: none none solid none;
    cursor: pointer;
    display: block;
    color: rgb(11, 7, 226);
    font-size: 20px;
    font-weight: 600;
    padding: 16px 0;
    width: 290px;
    text-align: center;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.type {
    background: #9e1e1e;
    font-size: 13px;
    padding: 10px 16px;
    left: 100%;
}

.type,
.color {
    border: 1px solid #ccc;
    border-style: none none solid none;
    position: absolute;
}

.color {
    width: 40px;
    height: 40px;
    right: -40px;
}

.minused {
    margin: 0 50px 0 0 !important;
}

.added {
    margin: 0 -50px 0 0 !important;
}

.submit img {
    width: 250px;
    position: absolute;
    top: 0%;
    left: 30%;
}

.pdf-dn {
    position: absolute;
    top: 30%;
    padding: 10px;
    width: 100%;
    height: 100px;
}

svg {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 35%;
    top: 30%;
    ;
}

.pdf {
    width: 40px;
    height: 40px;
}

.box {
    opacity: 0;
    width: 40px;
    height: 40px;
}


/*animation of btn button */

.draw-border {
    background-color: rgb(66, 63, 63);
    color: #ffffff;
    transition: color 0.25s 0.0833333333s;
}

.draw-border::before,
.draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}

.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}

.draw-border:hover {
    color: #ffffff;
}

.draw-border:hover::before,
.draw-border:hover::after {
    border-color: #ffffff;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}


/*popup menu*/

.popup-menu {
    border: 5px solid rgb(255, 255, 255);
    opacity: 0;
    z-index: -200;
    position: fixed;
    width: 400px;
    height: 440px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.7122199221485469) 100%, rgba(3, 0, 255, 0.7906512946975666) 100%, rgba(12, 25, 247, 0.09877454399728647) 100%);
    top: 150px;
    left: 35%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.display {
    animation: mymove 3s;
}

@keyframes mymove {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.popup-menu h1 {
    color: white;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.downloadbtn {
    position: fixed;
    top: 520px;
    left: 38.5%;
    bottom: 200px;
}


/*dowload button*/

.ms-content {
    opacity: 1;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    right: 10px;
    bottom: 0;
    margin: auto;
    border: 1px solid;
    border-radius: 100%;
}

.ms-content-inside {
    width: 100%;
    height: 100%;
    position: relative;
}

.ms-line-down-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotate(0deg);
    transition: transform 0s ease;
}

#ms-download {
    display: none;
}

#ms-download:checked~.ms-line-down-container {
    transform: rotate(-360deg);
    transition: transform 1.5s ease 1.25s;
}

.ms-line-down {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 10px;
    height: 125px;
    background: #FFFFFF;
    border-radius: 50px;
    transition: height .5s ease;
}

#ms-download:checked~.ms-line-down-container .ms-line-down {
    height: 10px;
    top: -20px;
    animation: ms-bounce .5s forwards .55s;
}

#ms-download:checked~.ms-line-down-container .ms-line-down:before {
    content: '';
    position: absolute;
    top: 0;
    left: -94px;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
    border: 10px solid transparent;
    border-radius: 100%;
    animation: ms-border-fill .5s forwards 3s;
}

.ms-line-point {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 58px;
    height: 130px;
    transition: height .15s ease .45s;
}

#ms-download:checked~.ms-line-point {
    height: 60px;
}

#ms-download:checked~.ms-line-point:before {
    transform: rotate(90deg);
    right: -10px;
    animation: ms-check-right .25s forwards 3s;
}

#ms-download:checked~.ms-line-point:after {
    transform: rotate(-90deg);
    left: -10px;
    animation: ms-check-left .25s forwards 3s;
}

.ms-line-point:before,
.ms-line-point:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 75px;
    bottom: -10px;
    background: #FFFFFF;
    border-radius: 50px;
    transition: transform .15s ease .47s, left .15s ease .47s, right .15s ease .47s;
}

.ms-line-point:before {
    right: 0px;
    transform: rotate(45deg);
}

.ms-line-point:after {
    left: 0px;
    transform: rotate(-45deg);
}

@keyframes ms-bounce {
    0% {
        top: -20px;
    }
    25% {
        top: -250px;
    }
    50% {
        top: -275px;
    }
    100% {
        top: -190px;
    }
}

@keyframes ms-check-left {
    0% {
        transform: rotate(-90deg);
        left: -10px;
        height: 75px;
    }
    100% {
        transform: rotate(-45deg);
        left: 0px;
        height: 45px;
    }
}

@keyframes ms-check-right {
    0% {
        transform: rotate(90deg);
        right: -10px;
        height: 75px;
        bottom: -10px;
    }
    100% {
        transform: rotate(45deg);
        right: 10px;
        height: 80px;
        bottom: -15px;
    }
}

@keyframes ms-border-fill {
    0% {
        border: 10px solid transparent;
    }
    100% {
        border: 10px solid #FFFFFF;
    }
}


/*alert box style*/

.section-notification .nav>li.is-active .notifications {
    z-index: 100;
    display: flex;
    -webkit-animation: note 800ms ease-in-out forwards;
    animation: note 800ms ease-in-out forwards;
    transform-origin: center 60px;
}


/*swinging*/

@keyframes note {
    0% {
        opacity: 0;
        transform: scale(0.1) rotate(30deg) translateY(50px) rotateX(90deg);
    }
    50% {
        transform: rotate(-10deg) rotateX(-2deg);
        opacity: 1;
    }
    70% {
        transform: rotate(3deg);
    }
    100% {
        transform: scale(1);
    }
}

.section-notification .notifications {
    background: #ffffff;
    display: none;
    border-radius: 4px;
    position: fixed;
    bottom: 10%;
    left: 68%;
    right: 10%;
    width: 300px;
    height: 100px;
    ;
    padding: 0px 10px;
    margin-bottom: 10px;
    margin-left: -95px;
    cursor: default;
}

.section-notification .notifications:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 10px;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 151, 167, 0);
    border-top-color: #ffffff;
    border-width: 26px;
    margin-left: -16px;
}

.section-notification .notifications li {
    padding: 1px;
    font-family: "Roboto", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
    font-size: 18px;
    text-align: center;
}