@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #121212;
}

main{
    max-height: 110vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

/* ---------nav bar---------------- */

nav{
    grid-column: 1/13;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
    padding: 8px;
    align-items: center;
    background: #181818;
    position: sticky;
    top: 0;
    z-index: 5;
}

nav a.notification,
nav a.logout,
nav a.add-item,
nav a.home{
    margin: 5px 10px;
    padding: 5px 10px;
    background: transparent;
    text-decoration: none;
    color: #aaa;
    border: 2px solid #aaa;
    border-radius: 40px;
    transition: 0.4s;
}
nav a.notification:hover,
nav a.logout:hover,
nav a.add-item:hover,
nav a.home:hover{
    transform: scale(1.05);
    opacity: 0.8;
}
nav a.notification:active,
nav a.logout:active,
nav a.add-item:active,
nav a.home:active{
    transform: scale(1);
    opacity: 1;
}

.logo{
    font-size: 2.5em;
    text-decoration: none;
    color: #aaa;
    font-weight: 700;
    margin-right: auto;
}

/* ------------------------------------------------ */

/* ------------profile card------------------------ */

aside{
    grid-column: 1/5;
    grid-row: 2/12;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background: #8899a6;
    border-radius: 20px 3px 20px 3px;
    padding: 15px;
    margin-left: 15px;
    position: relative;
    overflow: hidden;
}

aside *{
    z-index: 1;
    color: #e4e6eb;
}

aside::before{
    content: '';
    height: 35vw;
    width: 35vw;
    background: #22303C;
    background-image: url('../img/doodle_background.jpg');
    position: absolute;
    transform: translate(40%, 25%) rotateZ(45deg);
    border-radius: 20px;
}

/* --------profile pic upload------------------ */

.profile-pic{
    /* color: transparent; */
    height: 150px;
    width: 150px;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .3s ease;
}

.profilePicInput{
    display: none;
}

aside img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    outline: none;
    border: 10px solid #8899a6;
    position: relative;
    /* transform: translateX(70%); */
}

.-label {
    cursor: pointer;
    height: 100%;
    width: 100%;
    position: absolute;
    border: 10px solid transparent;
    /* transform: translateX(87%); */
    top: 0.6rem;
    /* display: none; */
}

.fa-camera{
    color: rgba(255, 255, 255, 0.719);
}

.profilePicImg:hover ~ .-label{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.603);
    z-index: 10;
    color: rgb(250,250,250);
    transition: background-color .5s ease-in-out;
    border-radius: 50%;
    margin-bottom: 0;
}

/* ------------------------------------- */

aside .header{
    position: relative;
    min-height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
}

aside .title{
    position: relative;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, minmax(50px, auto));
}

aside .store{
    font-size: 2em;
    margin: 0;
}
aside .rating{
    position: relative;
    margin: 0;
}

aside .fa-star.checked{
    color: #dfcc21;
}

aside .details{
    position: relative;
    display: flex;
    flex-direction: column;
}

aside i{
    color: #242526;
}

aside .details div{
    padding: 15px;
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
}

aside .edit{
    margin: 5px 10px;
    padding: 5px 20px;
    background: transparent;
    text-decoration: none;
    color: #242526;
    border: 2px solid #242526;
    border-radius: 40px;
    position: relative;
    transition: 0.4s;
    font-weight: 500;
    font-size: 1.1em;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
}

aside .edit:hover{
    transform: scale(1.05);
    opacity: 0.7;
}
aside .edit:active{
    transform: scale(1);
}

/* ------------------------------------------------- */

/* ----------------search-bar----------------------- */

.search-box{
    position: relative;
    background: #999;
    height: 2.1em;
    width: fit-content;
    border-radius: 2.1em;
    padding: 0.3em;
    margin-right: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.search-box a{
    text-decoration: none;
}

.search-btn{
    color: #666;
    width: 2.1em;
    height: 2.1em;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #fff;
    font-size: 1em;
    transition: 0.4s;
    width: 18em;
}

.search-txt::placeholder{
    color: #22303C;
}

.search-box:hover > .search-btn{
    background: #fff;
    color: #000;
}

/* ------------------------------------------------- */

/* -------------product section--------------------- */

.item-container{
    grid-column: 5/13;
    grid-row: 2/12;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.product-wrapper{
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 1fr;
}

.scroll{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    align-self: center;
    justify-self: center;
    border: 2px solid #121212;
    outline: none;
}

.product-container{
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

.store-stats{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
}

.details-col{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.store-stats .sales,
.store-stats .earnings{
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    border-radius: 20px 3px 20px 3px;
    margin: 10px;
    position: relative;
    background-color: #4c4177;
    background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
}

.store-stats .earnings{
    grid-row: 2/3;
}

.no-sales,
.no-earnings{
    font-size: 2em;
    font-weight: 600;
    position: relative;
}
.store-stats span{
    color: #bbb;
}
.store-stats i{
    font-size: 3.5em;
    color: #bbb;
}

.store-stats .graphbox{
    grid-column: 2/3;
    grid-row: 1/3;
    background-color: #4c4177;
    background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
    border-radius: 20px 3px 20px 3px;
    padding: 10px;
    margin: 10px;
}

/* ------------------card------------------ */

.item-container .wrapper{
    width: 250px;
    min-height: 320px;
    perspective: 800px;
    position: relative;
    flex: 0 0 auto;
}

.card{
    width: 250px;
    min-height: 90%;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-120px);
    transition: transform 250ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    cursor: pointer;
}

.card > div{
    position: absolute;
    width: 200px;
    min-height: 97%;
    padding: 20px;
    transition: all 350ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    color: #e4e6eb;
}

.front{
    background-color: #0d324d;
    /* background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 60%); */
    transform: rotateY(0deg); 
    border-radius: 20px 3px 20px 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right{ 
    background: #22303c;
    opacity: 0;
    transform: rotateY(90deg);
    border-radius: 3px 20px 3px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card:hover{
    transform: translateZ(-120px) rotateY(-90deg);
}

.card:hover .front{
    opacity: 0; 
}

.card:hover .right{
    opacity: 1; 
}

.item-container h1,
.item-container h2{
    margin: 0;
    font-size: 38px;
    font-weight: 700;
}

.item-container h2{
    font-size: 21px;
    font-weight: 400;
}

.item-container p{
    margin: 0;
    font-weight: 300;
    font-size: 16px;
}

.item-container i.fa-edit,
.item-container i.fa-trash{
    position: absolute;
    bottom: 20px;
    right: 20px;
    transition: .4s;
    color: crimson;
    font-size: 1.2em;
}
.item-container i.fa-edit{
    right: 50px;
}

.item-container i:hover{
    transform: scale(1.1);
}
.item-container i:active{
    transform: scale(1);
}

.item-container img{
    transform-origin: bottom;
    transition: transform 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    transition-delay: 100ms;
    pointer-events: none;
    height: 150px;
    width: 150px;
}

.img-wrapper{
    /* animation: float 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate; */
    position: absolute;
    bottom: 30px;
    left: 40px;
    pointer-events: none;
    backface-visibility: hidden;
}

.card:hover ~ .img-wrapper img{
    opacity: 0;
}


/* ---------edit account------------------- */

.edit-section{
    grid-column: 5/13;
    grid-row: 2/12;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    width: 90%;
    height: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px 3px 20px 3px;
    align-self: center;
    justify-self: center;
    overflow: hidden;
}

.edit-section::before{
    content: '';
    height: 100vw;
    width: 100vw;
    background-color: #23303a;
    background-image: linear-gradient(315deg, #23303c 0%, #28313b 74%);
    position: absolute;
    transform: translate(40%, -5%) rotateZ(45deg);
    border-radius: 20px;
}

.edit-section::after{
    content: '';
    height: 100vw;
    width: 100vw;
    background-color: #23303a;
    background-image: linear-gradient(315deg, #23303c 0%, #28313b 74%);
    position: absolute;
    transform: translate(-90%, -47%) rotateZ(45deg);
    border-radius: 20px;
    z-index: 0;
}

.edit.title{
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0;
    padding: 5px;
    align-self: center;
    z-index: 2;
    background-color: #2f4353;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5em;
    letter-spacing: .3em;
    text-transform: uppercase;
}

.edit-form{
    grid-column: 1/2;
    grid-row: 2/3;
    z-index: 2;
}


/* ---------------notification section-------------------------- */

.notification-section{
    grid-column: 5/13;
    grid-row: 2/12;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    padding: 10px;
    margin: 0 10px;
    border-radius: 20px 3px 20px 3px;
    outline: none;
}

.tab-bar{
    grid-column: 1/2;
    grid-row: 1/2;
}

.content-div{
    grid-column: 1/2;
    grid-row: 2/3;
    overflow: auto;
    transition: .2s linear;
}

.collapsible.notification{
    display: grid;
    grid-template-columns: 15% 65% 20%;
    grid-template-rows: auto;
    background-color: #637081;
    background-image: linear-gradient(315deg, #637081 0%, #7c98b3 74%);
    border-radius: 20px 3px 20px 3px;
    padding: 10px 15px;
    margin: 10px 0;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: 600;
}
.collapsible.notification span{
    text-transform: initial;
    font-weight: 400;
    margin-left: 20px;
}
.expand-btn{
    position: absolute;
    z-index: 1;
    font-size: 2.5em;
    color: #aaa;
    left: 10px;
    top: 5px;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.expand-btn:hover{
    transform: scale(1.05) rotateY(180deg);
}
.expand-btn:active{
    transform: scale(0.95);
}
.expand-btn.expanded{
    transform: rotateX(180deg);
}
/* need to set the class name from the database */
.expand-btn.marked{
    color: greenyellow;
}
.order-id{
    grid-column: 2/3;
    grid-row: 1/2;
}
.customer-name{
    grid-column: 2/3;
    grid-row: 2/3;
}

.collapsible.notification::after{
    content: '';
    height: 20vw;
    width: 30vw;
    background-color: #23303a;
    background-image: linear-gradient(315deg, #23303c 0%, #28313b 74%);
    position: absolute;
    border-radius: 20px 3px 20px 3px;
    transform: translate(-65%, -70%) rotateZ(31deg);
    z-index: 0;
}

.collapsible.content{
    grid-column: 2/3;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    display: none;
    transition: .4s ease-in-out;
}

.collapsible.content.active{
    display: grid;
}

.collapsible.content .list-title{
    font-size: 1.2em;
    letter-spacing: .3em;
    margin: 10px;
}

.collapsible.content .order-details{
    background: #fff;
    display: grid;
    grid-template-columns: 50% 15% 35%;
    grid-template-rows: auto;
    border-radius: 20px 3px 20px 3px;
    padding: 10px;
    
}

.collapsible.content .bill{
    display: grid;
    grid-template-columns: 65% 35%;
}

.collapsible.content .mark{
    position: absolute;
    bottom: 10px;
    right: 15px;
    border-radius: 20px 3px 20px 3px;
    outline: none;
    border: none;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding: 10px;
    cursor: pointer;
    transition: .4s linear;
}
.collapsible.content .mark:hover{
    transform: scale(1.05);
}
.collapsible.content .mark:active{
    transform: scale(0.95);
    opacity: 0.8;
}

.notification-section input{
    display: none;
}

.notification-section .label{
    display: inline-block;
    position: relative;
    height: 50px;
    width: 100px;
    background: #fff;
    color: #22303C;
    text-align: center;
    line-height: 50px;
    border-radius: 20px 3px 20px 3px;
    cursor: pointer;
    margin: 20px;
    padding: 0 10px;
    letter-spacing: .1em;
}

.notification-section .controls a{
    text-decoration: none;
    display: inline-block;
    height: 100%;
    width: 100%;
}

.notification-section .label:hover{
    background-color: #c2b6b6;
    background-image: linear-gradient(315deg, #c2b6b6 0%, #576574 74%);
    color: #ddd;
}

#all:checked ~ .controls > label:nth-child(1){
    background-image: linear-gradient(315deg, #c2b6b6 0%, #576574 74%);
    color: #ddd;
}

#marked:checked ~ .controls > label:nth-child(2){
    background-image: linear-gradient(315deg, #c2b6b6 0%, #576574 74%);
    color: #ddd;
}

#unmarked:checked ~ .controls > label:nth-child(3){
    background-image: linear-gradient(315deg, #c2b6b6 0%, #576574 74%);
    color: #ddd;
}

