<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style_admin_dashbboard.css">

    <script src="../javaScript/RGraph.common.core.js"></script>
    <script src="../javaScript/RGraph.line.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <title>Admin Dashboard</title>
</head>

<body>
    <header id="header">
        <a href="#" class="logo">FlyBuy</a>
        <h3>Admins(Akash,Kala,Nuwan,Ransika)</h3>
        <div class="search-container">
            <input type="text" name="search" placeholder="Search..." class="search-input">
            <a href="#" class="search-btn">
                <i class="fas fa-search"></i>
            </a>
        </div>
        <ul>
            <li><a href="#" class="active">Home</a></li>
            <li><a href="#">Sign out</a></li>
            <li><a>New products</a></li>

        </ul>
    </header>
    <div class="page_container">
        <ul class="icon-container">
            <li><a>Ratings</a></li>
            <li><a>Revenue</a></li>
            <li><a>Customers deatails</a></li>
            <li><a>Sellers details</a></li>
            <li><a>New products</a></li>
        </ul>
        <div class="s1">
            <img src="../images/admin1.jpg" alt="profile picture">

            <img src="../images/admin2.jpeg" alt="profile picture">
        </div>
        <div class="s2">
            <img src="../images/admin3.jpeg" alt="profile picture">
            <img src="../images/admin4.jpeg" alt="profile picture">
        </div>
        <canvas id="cvs" width="700" height="300">
            [No canvas support]
            </canvas>
    </div>
    <script src=" ../javaScript/graph.js "></script>

</body>

</html>